/* Universal */

html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body {
    display: grid;
    grid-template: 3rem repeat(49, 1fr) / repeat(12, 1fr);
    max-width: 1920px;
    margin: auto;
}

body * {
    /* border: blue 1px solid; */
}

h1 {
    font-size: 2.24rem;
    color: whitesmoke;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

p {

}

/* Header */
header {
    grid-column: 1 / 13;
    grid-row: 1 / 2;    
}

.header {
    display: flex;
    justify-content: space-between;
    padding: .8rem;
}

.logo {
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 22.5%;
}

.nav-desk {
    width: 50%;
    padding-right: 2rem;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.header ul li {
    align-self: center;
}

.nav-mobile {
    display: none;
}

@media only screen and (max-width: 600px) {

    .nav-desk {
        display: none;
    }

    .nav-mobile {
        display: block;
        width: 60%;
    }

    .logo p {
        display: none;
    }
}

/* Cover Section */

.cover {
    grid-area: 2 / 1 / 8 / 13;
    background-image: url("resources/paxson-woelber-ntrKD8wJEg0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template: repeat(3, 33%) / repeat(12, 1fr);
}

.cover .scroll {
    grid-area: 2 / 3 / 3 / 8;
}
.cover p {
    color: whitesmoke;
    padding: 1rem 0;
    font-weight: 200;
}

.cover button {
    font-family: 'Poppins', sans-serif;
    padding: .5rem 1.5rem;
    background-color: transparent;
    border: rgba(245, 245, 245, 0.973) 2px solid;
    color: whitesmoke;
    font-weight: 500;
}

.cover button:hover {
    background-color: rgb(245, 245, 245, 0.25);
}

@media only screen and (max-width: 600px) {

    .cover {
        grid-area: 2 / 1 / 5 / 13;
    }

}

/* Why Section */
.why {
    grid-area: 8 / 2 / 10 / 12;
    padding-top: 4rem;
}

.why .reasons {
    display: flex;
    justify-content: space-between;
}

.why .reasons div {
    width: 30%;
    padding: 1rem 0;
}

.why .reasons div p {
    padding: 1rem 0;
}

@media only screen and (max-width: 600px) {

    .why {
        grid-area: 5 / 2 / 8 / 12;
        padding: 2rem 0;
    }

    .why .reasons {
        flex-direction: column;
    }

    .why .reasons div {
        width: 100%;
    }

}

/* Quotes Divider */

.quotes {
    grid-area: 10 / 1 / 13 / 13;
    background-image: url("resources/tim-foster-dxmCzpnKQQ0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 30rem;
}

.quotes div {
    font-size: 2.8rem;
    padding-top: 12rem;
    color: whitesmoke;
    text-shadow: 1px 1px 5px black;
}
.quotes div .speaker {
    padding-top: 2rem;
}

@media only screen and (max-width: 600px) {

    .quotes {
        grid-area: 8 / 1 / 11 / 13;
    }

    .quotes div {
        padding: 12rem 1rem 0 1rem;
        font-size: 2rem;
    }

}

/* Focus Selector */
.image-separator,
.right,
footer {
    display: none;
}